#cart-container main .checkout-info {
  display: flex;
  flex-direction: column;
  background: var(--color-background-light);
  margin: 1rem;
  border-bottom: 1px solid var(--color-border-grey);
  border-radius: 10px;
  overflow: hidden;
  padding: 1rem;
}

#cart-container main .checkout-info > div {
  width: 80vw;
  align-self: center;
}

#cart-container main .checkout-info h2 {
  margin-top: 1rem;
  font-size: 1.6rem;
}

#cart-container main .freight-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#cart-container main .checkout-info input {
  padding: 1rem;
  border-radius: 5px;
  border: none;
  border-bottom: 1px solid var(--color-primary);
  background: #ddb;
  width: 50vw;
}

#cart-container main .checkout-info .calculate-freight-button {
  background: var(--color-button-background);
  padding: 1.2rem 2rem;
  margin-left: 1.5rem;
  border: none;
  border-radius: 5px;
}

#cart-container main .checkout-info .calculate-freight-button > p{
  color: var(--color-text-light);
}

#cart-container main .checkout-info .checkout-button {
  background: var(--color-button-background);
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  width: 80vw;
  margin: 3rem 0 1rem 0;
}

#cart-container main .checkout-info .checkout-button >p{
  color: var(--color-text-light);
}


@media (min-width: 700px) {
  #cart-container main {
    display: flex;
    justify-content: center;
  }
  #cart-container main .cart-items{
    display: grid;
    grid-template-columns: auto;
    max-width: 700px;
    width: 100vw;
  }

  #cart-container main .checkout-info {
    max-width: 700px;
  }
}
