#home-container main .products-list{
  display: grid;
  grid-template-columns: auto auto;
  padding: 2rem 1rem 0 1rem;
}

#home-container .title{
  opacity: 0;
}

@media (min-width: 700px) {
  #home-container main .products-list{
    grid-template-columns: auto auto auto;
  }
}

@media (min-width: 1100px) {
  #home-container main {
    display: flex;
    justify-content: center;
  }

  #home-container .title{
    display: flex;
    justify-content: center;
    opacity: 1;
  }
  #home-container .title div{
    max-width: 1100px;
    width: 100vw;
    padding: 20px;
  }

  #home-container .title div h1{
    font-size: 4rem;
  }

  #home-container main .products-list{
    grid-template-columns: auto auto auto auto;
    max-width: 1100px;
    width: 100vw;
  }
}
